@use 'styles/variables.scss' as var;
@use 'styles/_mixins.scss' as mixin;

.container {
  @include mixin.flex($direction: column, $gap: 0.5rem);
}

.wrapper {
  @include mixin.flex($align: center, $gap: 0.5rem);
}

.input {
  appearance: none;
  width: 28px;
  height: 28px;
  border: 2px solid var(--color-neutral-900);
  border-radius: 50%;
  background-color: var(--color-neutral-100);
  box-shadow:
    0 2px 0 0 var(--color-neutral-900),
    0 4px 0 0 var(--color-neutral-900);
  cursor: pointer;
  position: relative;
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    filter 0.2s;

  &:hover {
    filter: var.$hover-filter-default;
  }

  &:active {
    box-shadow: 0 0px 0 0 var(--color-neutral-900);
    transform: translateY(4px);
  }

  &:checked {
    background-color: var(--color-primary);

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: var(--color-neutral-900);
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &.small {
    width: 20px;
    height: 20px;

    &:checked::after {
      width: 10px;
      height: 10px;
    }
  }

  &.large {
    width: 36px;
    height: 36px;

    &:checked::after {
      width: 18px;
      height: 18px;
    }
  }

  &.error {
    background-color: var.$color-danger;
  }
}

.label {
  font-size: 1rem;
  cursor: pointer;

  &.small {
    font-size: 0.75rem;
  }

  &.large {
    font-size: 1.25rem;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &.error {
    color: var.$color-danger;
  }
}

.input.success {
  background-color: var.$color-success;
}

.label.success {
  color: var.$color-success;
}
