@use 'styles/variables.scss' as var;
@use 'styles/_mixins.scss' as mixin;

.input {
  outline: none;
  padding: 0.5rem 1rem;
  border: 2px solid var.$color-neutral-900;
  border-radius: 1em;
  background-color: var.$color-neutral-100;
  font-size: 1rem;
  color: var.$color-neutral-900;
  box-shadow: 0 4px 0 0 var.$color-neutral-900;
  transition: border-color 0.2s;

  &::placeholder {
    color: var.$color-neutral-300;
  }

  &:focus {
    border-color: var.$color-primary;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &.large {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }

  &.error {
    border-color: var.$color-danger;
  }

  &.success {
    border-color: var.$color-success;
  }
}
