@use 'styles/variables.scss' as var;
@use 'styles/_mixins.scss' as mixin;

.container {
  @include mixin.flex($direction: column, $gap: 0.5rem);
  width: 100%;
}

.wrapper {
  @include mixin.flex($align: center);
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: var.$border-default;
  border-radius: var.$border-radius-default;
  background-color: var(--bg-surface);
  font-size: 1rem;
  color: var(--text-primary);
  box-shadow: var.$box-shadow-default;
  outline: none;
  transition:
    transform 0.2s,
    box-shadow 0.2s;

  &::placeholder {
    color: var.$color-neutral-300;
  }

  &:focus {
    transform: translateY(2px);
    box-shadow: var.$box-shadow-focused;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &.small {
    padding: 0.4rem 0.75rem;
    font-size: 0.75rem;
  }

  &.large {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }

  &.error {
    border-color: var.$color-danger;
    box-shadow: 0 4px 0 0 var.$color-danger;

    &:focus {
      box-shadow: 0 2px 0 0 var.$color-danger;
    }
  }

  &.success {
    border-color: var.$color-success;
    box-shadow: 0 4px 0 0 var.$color-success;

    &:focus {
      box-shadow: 0 2px 0 0 var.$color-success;
    }
  }
}

.label {
  margin-left: 0.5rem;
  font-size: 1rem;
  cursor: pointer;

  &.small {
    font-size: 0.75rem;
  }

  &.large {
    font-size: 1.25rem;
  }
}

.message {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
