@use 'styles/variables.scss' as var;
@use 'styles/_mixins.scss' as mixin;

.button {
  height: fit-content;
  width: fit-content;
  @include mixin.flex($justify: center, $align: center, $gap: 0.5rem);
  padding: 0.75rem 1rem;
  border: var.$border-default;
  border-radius: var.$border-radius-default;
  font-size: 1rem;
  color: var.$color-neutral-900;
  box-shadow: var.$box-shadow-default;
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    filter 0.2s;

  &:hover {
    filter: var.$hover-filter-default;
    transform: translateY(-2px);
    box-shadow: 0 6px 0 0 var.$color-neutral-900;
  }

  &:active {
    box-shadow: 0 0px 0 0 var.$color-neutral-900;
    transform: translateY(4px);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(0.6);
  }

  &.small {
    padding: 0.4rem 0.75rem;
    font-size: 0.75rem;
  }

  &.large {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }

  &.primary {
    background-color: var.$color-primary;
  }

  &.secondary {
    background-color: var.$color-secondary;
  }

  &.danger {
    background-color: var.$color-danger;
  }

  &.success {
    background-color: var.$color-success;
  }

  &.warning {
    background-color: var.$color-warning;
  }

  &.info {
    background-color: var.$color-info;
  }

  &.light {
    background-color: var.$color-neutral-100;
  }

  &.dark {
    background-color: var.$color-neutral-900;
    color: var.$color-neutral-100;
    border-color: var.$color-neutral-500;
    box-shadow: 0 4px 0 0 var.$color-neutral-500;

    &:hover {
      filter: var.$hover-filter-default;
      transform: translateY(-2px);
      box-shadow: 0 6px 0 0 var.$color-neutral-500;
    }

    &:active {
      box-shadow: 0 0px 0 0 var.$color-neutral-500;
      transform: translateY(4px);
    }
  }

  &.link {
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: underline;

    &:active {
      transform: none;
    }
  }
}

.loader {
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
