@use 'styles/variables.scss' as var;
@use 'styles/_mixins.scss' as mixin;

.button {
  height: fit-content;
  width: fit-content;
  @include mixin.flex($justify: center, $align: center, $gap: 0.5rem);
  font-weight: var.$font-weight-medium;
  border: 2px solid var.$color-border-default;
  cursor: pointer;
  color: var.$color-text-default;
  box-shadow: 0 4px 0 0 var.$color-border-default;
  transition:
    transform 0.2s,
    box-shadow 0.2s,
    filter 0.2s;

  &:hover {
    filter: brightness(1.1) contrast(1.1) saturate(1.5);
  }

  &:active {
    box-shadow: 0 0px 0 0 var.$color-border-default;
    transform: translateY(4px);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(0.6);
  }

  &:focus-visible {
    outline: 2px dashed var.$color-border-default;
    outline-offset: 2px;
  }

  &.sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 1em;
  }

  &.md {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 1em;
  }

  &.lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 1em;
  }

  &.primary {
    background-color: var.$color-primary-bg;
  }

  &.secondary {
    background-color: var.$color-secondary-bg;
  }

  &.danger {
    background-color: var.$color-danger-bg;
  }

  &.success {
    background-color: var.$color-success-bg;
  }

  &.warning {
    background-color: var.$color-warning-bg;
  }

  &.info {
    background-color: var.$color-info-bg;
  }

  &.light {
    background-color: var.$color-light-bg;
  }

  &.dark {
    background-color: var.$color-dark-bg;
    color: var.$color-dark-text;
    box-shadow: 0 4px 0 0 var.$color-dark-shadow;

    &:active {
      box-shadow: 0 0px 0 0 var.$color-border-default;
    }
  }

  &.link {
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: underline;

    &:active {
      transform: none;
    }
  }
}

.loader {
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
