@use 'styles/variables' as var;
@use 'styles/mixins' as mixin;

.chartContainer {
  @include mixin.flex($direction: column, $gap: 1rem);
  padding: 1.5rem;
  background-color: var.$color-neutral-000;
  border: var.$border-default;
  border-radius: var.$border-radius-default;
  box-shadow: var.$box-shadow-default;
}

.chartTitle {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.emptyState {
  @include mixin.flex($justify: center, $align: center);
  height: 300px;
}
