$color-neutral-900: #333333;
$color-neutral-500: #666666;
$color-neutral-300: #afafaf;
$color-neutral-200: #e3e3e3;
$color-neutral-100: #f3f4f6;

$color-primary: #8fb5f0;
$color-secondary: #d8c6eb;
$color-danger: #ff8f8f;
$color-success: #bcead0;
$color-warning: #fdf2cc;
$color-info: #bfeff1;

$font-family-base: 'Roboto Mono', monospace;

$font-weight-regular: 400;
$font-weight-bold: 700;
