$color-primary-bg: #8fb5f0;
$color-secondary-bg: #d8c6eb;
$color-danger-bg: #ff8f8f;
$color-success-bg: #bcead0;
$color-warning-bg: #fdf2cc;
$color-info-bg: #bfeff1;
$color-light-bg: #f3f4f6;
$color-dark-bg: #333333;

$color-text-default: #333333;
$color-text-muted: #c7c7c7;
$color-dark-text: #f3f4f6;

$color-border-default: #333333;
$color-dark-shadow: #666666;

$font-family-base: 'Roboto Mono', monospace;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
