PORT=5000 # порт, на котором будет работать сервер
MONGO_URI=mongodb+srv://baseuser:C2QNIZKVui7TRbfc@js-practice-hub.ymiyz4b.mongodb.net/js-practice-hub?retryWrites=true&w=majority&appName=JS-Practice-Hub # строка подключения к MongoDB, можно заменить на свою
JWT_ACCESS_SECRET=access_secret # можно сгенерировать с помощью `openssl rand -base64 32` в терминале
JWT_REFRESH_SECRET=refresh_secret # можно сгенерировать с помощью `openssl rand -base64 32` в терминале
CLIENT_URL=http://localhost:5173 # URL фронтенд-приложения
NODE_ENV=development # или production для продакшена