@use 'styles/variables.scss' as var;
@use 'styles/mixins.scss' as mixin;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    position: relative;
    flex: 1;
    @include mixin.flex($direction: column);
    background-color: var.$color-neutral-000;
    padding: 2vh 10vw;
  }
}
